<div class="contenedor">

    <aside>
        <div class="top">
            <div class="logo">
                <img src="assets/logo.png" alt="">
                <h2>SGC <span class="danger">CEA</span></h2>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
        </div>

        <div class="side-bar">
            <a [routerLink]="['/dashboard']">
                <span class="material-symbols-sharp">grid_view</span>
                <h3>Panel de Control</h3>
            </a>
            <a [routerLink]="['/dashboard/users']" class="active">
                <span class="material-symbols-sharp">manage_accounts</span>
                <h3>Usuarios</h3>
            </a>
            <a [routerLink]="['/dashboard/newuser']">
                <span class="material-symbols-sharp">add</span>
                <h3>Nuevo Usuario</h3>
            </a>
            <a [routerLink]="['/dashboard/schedule']">
                <span class="material-symbols-sharp">receipt_long</span>
                <h3>Horarios</h3>
            </a>
            <a [routerLink]="['/dashboard/assistance']">
                <span class="material-symbols-sharp">insights</span>
                <h3>Asistencias</h3>
            </a>
            <a [routerLink]="['/dashboard/payments']">
                <span class="material-symbols-sharp">inventory</span>
                <h3>Pagos</h3>
            </a>
            <a [routerLink]="['/dashboard/users']">
                <span class="material-symbols-sharp">report_gmailerrorred</span>
                <h3>Informes</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">settings</span>
                <h3>Configuracion</h3>
            </a>
            <!-- <a href="#">
          <span class="material-symbols-sharp">chat</span>
          <h3>Messages</h3>
          <span class="message-count">26</span>
        </a> -->

            <a [routerLink]="['/']">
                <span class="material-symbols-sharp">logout</span>
                <h3>Cerrar Sesión</h3>
            </a>
        </div>
    </aside>

    <main>
        <h1>Control de Usuarios</h1>
        <div class="container tables">
            <div class="inputBx">
                <div class="alert alert-success mb-2 text-center" *ngIf="status == 'Success'">
                    Usuario eliminado exitosamente
                </div>
            </div>
            <table class="">
                <thead>
                  <tr>
                    <th>Identificación</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Direccion</th>
                    <th>Correo Electronico</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Ultima Modificación</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.userId }}</td>
                        <td>{{ user.nombres }}</td>
                        <td>{{ user.apellidos }}</td>
                        <td>{{ user.direccion }}</td>
                        <td>{{ user.correo_electronico }}</td>
                        <td>{{ user.telefono }}</td>
                        <td>{{ user.celular }}</td>
                        <td>{{ user.ultima_act }}</td>
                        <td><a (click)="deletePost(user.userId);" class="btn btn-danger" >Eliminar Usuario</a> <br> <a [routerLink]="['/dashboard/useredit', user.userId]" class="btn btn-primary mt-2 mb-1" >Editar Usuario</a></td>
                    </tr>                    
                    
                </tbody>
              </table>              
        </div>
    </main>
</div>