<section>
    <div class="imgBx">
        <img class="img" src="assets/carlogimg.jpg" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Iniciar Sesión</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="inputBx">
                    <span>Correo Electronico</span>
                    <input type="email" id="correo_electronico" name="correo_electronico" #correo_electronico = "ngModel" [(ngModel)]="user.correo_electronico" required>
                </div>
                <div class="inputBx">
                    <span>Contraseña</span>
                    <input type="password" id="contrasena" name="contrasena" #contrasena = "ngModel" [(ngModel)]="user.contrasena" required>
                </div>
                <div class="remember">
                    <label for=""><input type="checkbox"> Recordarme</label>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Iniciar Sesión" >
                </div>
                <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedbback d-block">
                    La contrasena no es valida
                </small>
                <div class="inputBx">
                    <div class="alert alert-danger mb-2 text-center" *ngIf="status == 'Error'">
                        No ha sido posible iniciar sesión.
                    </div>
                    <!-- <p>No tienes una cuenta? <a [routerLink]="['/register']">Registrarme</a></p> -->
                </div>
            </form>
        </div>
    </div>
</section>